.video-card {
  max-width: 90%;
  margin: 5px auto;
}
.responsive-iframe {
  width: 100%; /* Make it fill the card's content area */
  aspect-ratio: 16 / 9; /* Set the 16:9 aspect ratio */
  border: none; /* Clean up default borders */
}

#zuul {
  width: 100%;
  display: block;
}
/* .card-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #686969;
  padding: 1rem;
  width: 100%;
} */
/* 
#player {
  margin: 0 auto;
  display: block;
  width: auto;
  height: auto;
} */
