.video-wrapper {
  position: relative;
  width: 100%;

  /* padding: %; 16:9 Aspect Ratio (9/16 = 0.5625) */
  margin-left: auto;
  /* margin-right: 10%; */
  /* margin-bottom: 40%; */
  /* margin-top: 5%; */
}
.video-wrapper youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
